<!DOCTYPE html>
<html ng-app="NotesApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Notes App</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Styles NotesApp -->
    <link href="Css/site.css" rel="stylesheet" />
    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <!-- Angular Animate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-animate.min.js"></script>
    <!-- Angular Route:  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-route.min.js"></script>
    <!-- Angular UI Bootstrap  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.min.js"></script>
    <!-- Javascript NotesApp -->
    <script src="Application/NotesApp.js"></script>
    <script src="ViewModels/MainViewModel.js"></script>
    
</head>
<body ng-controller="MainViewModel as MainVM">
    <div>
        <h2>Ejercicio</h2>
        <p> <span>Titulo:</span>{{ MainVM.Title }}</p>
        <input type="text" ng-model="MainVM.Title" />
        <input type="button" value="Cambiar Titulo" ng-click="MainVM.ChangeTitle()" />
        <input type="button" value="Lanzar un Alert" ng-click="MainVM.RaiseAlert()" />
    </div>

    <div>
        <h2>Ayuda</h2>
        <!-- Directivas Angular -->
        <a href="https://code.angularjs.org/1.5.3/docs/api">Directivas Angular</a>
    </div>
    <div>
        <h2>Apuntes</h2>
        <section>
            <p>Clase Javascript: NombreClase = function() { }</p>
            <p>Dentro de una clase javascript podemos tener fields, properties, functions...
                <br/>
                <span>Ejemplo: </span> <br/>
                NombreClase = function() {<br/>
                     self.Title; /* Definicion de un field/property publico */ <br/>
                    /* con el self logramos visibilidad hacia fuera de la clase */<br />
                }
            </p>
            
        </section>
    </div>
</body>
</html>